/* 初始化样式 */
.ls-init {
  opacity: 0 !important;
}
/* 下-上 */
.ls-bottom-top {
  display: block;
  opacity: 1 !important;
  animation: ls-bottom-top ease 0.26s !important;
}
@keyframes ls-bottom-top {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/* 上-下 */
.ls-top-bottom {
  display: block;
  opacity: 1 !important;
  animation: ls-top-bottom ease 0.26s !important;
}
@keyframes ls-top-bottom {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/* 右-左 */
.ls-right-left {
  display: block;
  opacity: 1 !important;
  animation: ls-right-left ease 0.26s !important;
}
@keyframes ls-right-left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
/* 左-右 */
.ls-left-right {
  display: block;
  opacity: 1 !important;
  animation: ls-left-right ease 0.26s !important;
}
@keyframes ls-left-right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
/* 小-大 */
.ls-small-big {
  display: block;
  opacity: 1 !important;
  animation: ls-small-big ease 0.26s !important;
}
@keyframes ls-small-big {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* 大-小 */
.ls-big-small {
  display: block;
  opacity: 1 !important;
  animation: ls-big-small ease 0.26s !important;
}
@keyframes ls-big-small {
  0% {
    opacity: 0;
    transform: scale(1.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* 自定义动画 */